/* Custom CSS
-------------------------*/
a.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

a.brand, h1, h2, h3 {
    font-family: '微软雅黑', 'Open Sans';
}

.block, .breadcrumb {
    font-family: 'Open Sans';
    font-size: 12px;
}

.dir-rtl a.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}

#logo {
    margin-top: 3px;
    margin-right: 10px;
}

.main-content {
    margin-left: 0px;
}

.section li.label {
    background-color: white !important;
}

#block-region-side-pre {
    margin-left: 0px;
}

#page-site-index #page-header {
    display: none;
}

#page-header {
    margin-bottom: 10px;
}

#page-header h1 {
    margin-left: 74px;
    margin-top: 4px;
    font-size: 24px;
    line-height: 24px;
}

#page-header #page-navbar {
    margin-left: 74px;
}

.breadcrumb {
    margin: 0;
}

.block {
    border: none;
    border-radius: none;
    background-color: transparent;
}

.coursebox > .info > .name {
    width: 80%;
}

.widget-no-header {
    border-top: 1px solid #CCC;
}

#block-region-side-pre .widget-box,
#block-region-side-post .widget-box {
    margin-bottom: 8px;
}

.block_online_users .content .userpicture {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0px auto;
}

.block_online_users .content .list li.listentry {
    display: block;
    float: left;
    margin: 0 10px 10px 0;
    width: 50px;
    height: 70px;
    overflow: hidden;
    clear: none !important;
    text-align: center;
}

.header-custom-menu > li {
    background-color: rgb(67, 142, 185);
    border-left-width: 0px;
}

.navbar-inverse .header-custom-menu > li > a:hover,
.navbar-inverse .header-custom-menu li.dropdown.open>.dropdown-toggle,
.navbar-inverse .header-custom-menu li.dropdown.active>.dropdown-toggle,
.navbar-inverse .header-custom-menu li.dropdown.open.active>.dropdown-toggle {
    background-color: #2e6589;
}

.courses .span4 {
}

.mform .fcheckbox input {
    margin-top: 8px;
}

input[type=checkbox], input[type=radio] {
    opacity: 100;
    position: relative;
    margin-right: 0px;
}

.label {
    font-size: 9px;
    padding: 2px 5px 2px;
}

.path-course-view .label a {
    color: white;
    font-size: 9px;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
